= image_tag "logo.png", id: "logo"
#start
  PRESIONE EL BOTON NEGRO
%footer.intro
  &copy; Francisco Luis Aranda Garcia - 2013
!= "<audio autoplay loop><source src='intro.mp3', type='audio/mpeg'></source></audio>"
