#level
  NIVEL 1
#simon{ class: "" }
  .key.green
  .key.red
    &nbsp;
  .key.yellow
    &nbsp;
  .key.blue
    &nbsp;
%aside
  #score
    000000
#messages
%footer.game
  %span.high#progress_bar{ style: "width: 100%;" }
