#level
  NIVEL 1
#simon{ class: "" }
  .key.green
  .key.red
    &nbsp;
  .key.yellow
    &nbsp;
  .key.blue
    &nbsp;
%aside
  #score
    000000
#messages
%footer.game
  %span.high#progress_bar{ style: "width: 100%;" }

!= "<audio id='green_sound'><source src='green.mp3', type='audio/mpeg'></source></audio>"
!= "<audio id='red_sound'><source src='red.mp3', type='audio/mpeg'></source></audio>"
!= "<audio id='yellow_sound'><source src='yellow.mp3', type='audio/mpeg'></source></audio>"
!= "<audio id='blue_sound'><source src='blue.mp3', type='audio/mpeg'></source></audio>"